 /* Encabezado*/ 
.image{
    width: 15%
}
.buscador{
    width: 35%
}
.agregar{
    width: 25%
}
.perfil{
    width: 15%
}
.image_logo{
    width: 150px
}


.encabezado{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #626567;
    background-color:#dc3545
    
}

.imag_producto{
    width: 500px;
    height: 400px;
    box-shadow:2px 1px 18px #dc3545

}

.formulario{
    width: 600px;
}

.registrar{
    text-align: center;
    width: 300px
}

.grupo-formulario{
    display: flex;
    justify-content: space-around;
    width: 50%;
    padding: 50px 0;
    box-shadow: 5px 5px 18px gray;
    margin: 0 auto;
    border-radius: 15px;
}