{% extends "layout.html" %}

{% block content %}
<!-- Tomar el mensaje -->
<!-- {% with mensaje= get_flashed_messages()%}
{% if mensaje %}
{% for mensaje in mensaje %}
    <p>{{mensaje}}</p>
{% endfor %}
{% endif %}
{% endwith %} -->

<!-- Formulario -->
    <div class="contenido" style="display: flex; justify-content: center; flex-direction: column;">
        <h1>Editar Producto #{{editar.0}}</h1>
        <form method="POST" class="row g-3 form-edit" style="width: 50%; margin-top: 10px;">
            <div class="col-md-6">
                <label class="form-label" for="donantes">Donante</label>
                <select class="form-select" name="donante" id="donante" required>
                    {% for donante in donantes %}
                        {% if editar.1 == donante.1 %}
                            <option value="{{donante.1}}" selected>{{donante.0}}</option>
                        {% else %}
                            <option value="{{donante.1}}" disabled>{{donante.0}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6">
                <label class="form-label" for="expiracion">Fecha de expiracion</label>
                <input class="form-control" type="datetime-local" id="expiracion" name="expiracion" value="{{editar.4}}" min="2022-11-28T00:00:00" required>
            </div>
            <div class="col-md-4">
                <label class="form-label" for="cantidad">Cantidad</label>
                <input class="form-control" type="number" id="cantidad" name="cantidad" value="{{editar.8}}" required>
            </div>
            <div class="col-md-4">
                <label class="form-label" for="peso">Gramos o Litros</label>
                <input class="form-control" type="number" id="peso" name="peso" value="{{editar.7}}" required>
            </div>
            <div class="col-md-4">
                <label class="form-label" for="estado">Estado</label>
                <select name="estado" id="estado" class="form-select" required>
                    {% if editar.3 == 0 %}
                        <option value="0" selected>Malo</option>
                        <option value="1">Bueno</option>
                    {% else %}
                        <option value="0">Malo</option>
                        <option value="1" selected>Bueno</option>
                    {% endif %}
                </select>
            </div>
            <div class="col-md-12">
                <label class="form-label" for="descripcion">Descripcion</label>
                <textarea class="form-control" type="text" id="descripcion" name="descripcion" maxlength="255" required>{{editar.6}}</textarea>
            </div>
            <input type="submit" class="btn btn-danger" value="Enviar" >
        </form>
    </div>
{% endblock %}
