{% extends "layout.html" %}

{% block content %}

<!-- Tomar el mensaje -->
<!-- {% with mensaje= get_flashed_messages()%}
{% if mensaje %}
{% for mensaje in mensaje %}
    <p>{{mensaje}}</p>
{% endfor %}
{% endif %}
{% endwith %} -->

<!-- Formulario -->
<form method="POST">
    <div>
        <label for="name">Nombre</label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="lastname">Apellido</label>
        <input type="text" name="lastname">
    </div>
    <input type="submit" value="Enviar" >
</form>

{% endblock %}
